body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background: #f4f6f9;
}


.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
}
h2 {
    color: #333;
}

.card {
    display: inline-block;
    background-color: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}